* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf1f1;
  width: 100%;
  height: 100vh;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vmin;
  height: 80vmin;
  border-radius: 50%;
  background-color: #f9e0ae;
}

.pot {
  position: absolute;
  border-bottom: 25vmin solid #835050;
  border-left: 7vmin solid transparent;
  border-right: 7vmin solid transparent;
  height: 0;
  width: 40vmin;
  bottom: 15vmin;
  transform: rotate(180deg);
  border-radius: 3vmin;
}

.pot::after {
  content: "";
  position: absolute;
  width: 26vmin;
  height: 1vmin;
  background-color: #000;
}

.eyes {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  background-color: #000;
  border-radius: 50%;
  bottom: -18vmin;
  left: 4vmin;
  box-shadow: 13vmin 0 #000;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    transform: scale(1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.cheeks {
  position: absolute;
  width: 5vmin;
  height: 2.5vmin;
  top: 11vmin;
  left: 2.7vmin;
  background-color: red;
  border-radius: 50%;
  opacity: 20%;
  box-shadow: 15vmin 0 red;
}

.mouth {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  top: 8vmin;
  left: 11vmin;
  border-radius: 50%;
  background: transparent;
  border-top: 1vmin solid #000;
}

.cactus {
  position: absolute;
  width: 17vmin;
  height: 30vmin;
  background-color: #799351;
  top: 15vmin;
  left: 25vmin;
  border-radius: 45%;
  border: 1vmin solid #000;
}

.cactus::before {
  content: "";
  position: absolute;
  width: 5vmin;
  height: 30vmin;
  left: 6vmin;
  background-color: transparent;
  border-radius: 50%;
  border-right: 1vmin solid #335d2d;
}

.cactus::after {
  content: "";
  position: absolute;
  width: 5vmin;
  height: 30vmin;
  right: 6vmin;
  background-color: transparent;
  border-radius: 50%;
  border-left: 1vmin solid #335d2d;
}

.cactusSmall {
  position: absolute;
  width: 17vmin;
  height: 20vmin;
  background-color: #799351;
  top: 25vmin;
  right: 28vmin;
  border-radius: 45%;
  border: 1vmin solid #000;
}

.cactusSmall::before {
  content: "";
  position: absolute;
  width: 5vmin;
  height: 20vmin;
  left: 6vmin;
  background-color: transparent;
  border-radius: 50%;
  border-right: 1vmin solid #335d2d;
}

.cactusSmall::after {
  content: "";
  position: absolute;
  width: 5vmin;
  height: 20vmin;
  right: 6vmin;
  background-color: transparent;
  border-radius: 50%;
  border-left: 1vmin solid #335d2d;
}

.pricks {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
  transform: rotate(-45deg);
}

.pricks::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 5vmin;
  left: 9vmin;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
  transform: rotate(90deg);
}

.pricks::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 7vmin;
  left: -10vmin;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
}

.pricksRight {
  position: absolute;
  width: 0;
  height: 0;
  top: -2vmin;
  left: -1vmin;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
  transform: rotate(-45deg);
}

.pricksRight::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 10vmin;
  left: 9vmin;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
  transform: rotate(90deg);
}

.pricksRight::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 4vmin;
  left: 7vmin;
  border-left: 1vmin solid transparent;
  border-right: 1vmin solid transparent;
  border-bottom: 7vmin solid #335d2d;
  transform: rotate(60deg);
}
